body{
    background:black;
    color:yellow;
    overflow:hidden;
    font-size:100px;
    font-family:Arial,sans-serif;
    line-height: 150%;
}

.container{
    position:absolute;
    top:-3500px;
    bottom:0;
    left:0;
    right:0;
    transform-origin:50% 100%;
    transform:perspective(300px) rotateX(20deg);

}
.starWars{
    padding-top:4200px;
    animation:anim 30s linear infinite;
}

@keyframes anim{

    to{
        margin-top:-3000px;
    }
}
